.btn {
  width: 100px;
  background-color: red;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  display: block;
  border: none;
  cursor: pointer;
  transition: 300ms;
  &:active {
    transform: scale(0.8);
  }
}

.f {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background-color: aqua;
  box-shadow: 0px 0px 20px;
  transition: 300ms;
}
.t {
  background-color: black;
}
.e {
  border-radius: 20px 20px 0px 0px;
  background-color: lightblue;
  transition: 300ms;
  transform: translateX(60px);
}
.w {
  border-radius: 0px 0px 20px 20px;
  background-color: lightpink;
}
/* menu */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  width: 100%;
  padding: 10px;
  background-color: lightgreen;
  .nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    .parentSubMenu {
      position: relative;
      height: 100%;
      width: fit-content;
      .subMenu {
        position: absolute;
        width: 30vw;
        height: 50vh;
        background-color: black;
        transition: 300ms;
        left: 0;
        top: 30px;
      }
    }
  }
}
.title {
  font-size: 20px;
  text-decoration: none;
  color: darkcyan;
  font-weight: bold;
}
/* رفتو برگشت یک کلیک */
/* .click{
  border: none;
  background-color: lightcoral;
  color: lightgrey;
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  transition: 300ms;
  z-index: 50;
  position: absolute;
  &:active{
    transform: scale(0.9,0.9);
  }
}
.modal{
  width: 100vw;
  height: 100vh;
  background-color: lightslategray;
  transition: 300ms;
  position: absolute;
  left: 0;
  top: 0;
}
.modal2{
  transform: scale(0,0);
}
.modal3{
  transform: scale(1,1);
} */
/* function Multifunctional */
.click {
  border: none;
  background-color: lightcoral;
  color: lightgrey;
  font-size: 16px;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  transition: 300ms;
  z-index: 50;
  position: absolute;
  &:active {
    transform: scale(0.8, 0.8);
  }
}
.modal {
  width: 20vw;
  height: 100vh;
  background-color: lightslategray;
  transition: 300ms;
  position: absolute;
  display: flex;
  padding: 100px 20px;
  flex-flow: column wrap;
  row-gap: 20px;
}
.modal2 {
  left: -20vw;
}
.modal3 {
  left: 0;
}
.title {
  font-size: 24px;
  color: lightsalmon;
}

/* mouse move  */
#c {
  height: 600px;
  width: 800px;
  background-color: black;
  position: relative;
  margin: 10px auto;
  transition: 300ms;
  img {
    width: inherit;
    height: inherit;
    position: absolute;
    object-fit: cover;
    object-position: left;
    transition: 300ms;
  }
}

/* keys  */
#key {
  border: none;
  width: 400px;
  height: 50px;
  background-color: lightcoral;
  border-radius: 30px;
  margin: 10px auto;
  display: block;
  padding: 20px;
  transition: 300ms;
  &::placeholder {
    color: white;
    font-size: 20px;
  }
}
.h1 {
  color: lightslategray;
  text-align: center;
  padding: 20px;
  transition: 300ms;
}
/* createlement  */
.titr {
  color: lightsalmon;
  text-align: center;
}
#mainDiv {
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: darkcyan;
  width: fit-content;
  height: fit-content;
  text-align: justify;
  position: relative;
}
#buy {
  padding: 2px 5px;
  text-decoration: none;
  color: darkgreen;
  background-color: lightgreen;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  width: fit-content;
}
.prog {
  padding: 20px;
  width: 200px;
}
/* close element  */
.ppp {
  padding: 20px;
  background-color: darkcyan;
  border-radius: 20px;
  margin: 20px auto;
  width: fit-content;
  height: fit-content;
  position: relative;
  h1 {
    color: lightsalmon;
    text-align: center;
  }
  p {
    color: white;
    width: 200px;
    font-size: 16px;
  }
  a {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: lightgreen;
    color: darkgreen;
    text-decoration: none;
    border-radius: 20px;
    margin: 10px auto 0px;
  }
}
.close {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 10px;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  font-size: 19px;
  cursor: pointer;
  transition: 300ms;
  &:active {
    transform: scale(0.9, 0.9);
  }
}
/* clearTimeOut/clearInterval */
.buu {
  padding: 5px 20px;
  background-color: black;
  color: aliceblue;
  font-size: 16px;
  margin: 20px auto;
  display: block;
  border: none;
  cursor: pointer;
  transition: 300ms;
  &:active {
    transform: scale(0.9, 0.9);
  }
}
/* show elem */
.parent {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.363);
  z-index: -2;
}
.closeParent {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.child2 {
  background-color: aqua;
  width: 300px;
  height: 300px;
  margin: 300px auto;
}
.none {
  display: none;
}
.block {
  display: block;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn{
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.back{
  background-color: rgba(0, 0, 0, 0.226);
  transition: 300ms;
}