.btn{
    width: fit-content;
   height: 30px;
   text-decoration: none; 
   font-size: 12px;
   text-align: center;
   margin: 0 auto;
   letter-spacing: 2px;
   background-color: #5b5b5b;
   padding: 5px;
   box-sizing: border-box;
    line-height: 15px;
}