* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  margin: 20px auto;
  padding: 1px;
  .child {
    width: 50%;
    height: 50%;
    background-color: black;
    border-radius: 50%;
    margin: 20px auto;
  }
}
