*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wraper{
    width: 100%;
}
.story{
    width: 100%;
}
.storyBar{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0px;
    background-color: aqua;
}
.storyCard{
    height: 140px;
    width: 92px;
    padding: 5px 0px;
}
.storyPerson{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    outline: 1px solid black;
    outline-offset: 3px;
}
.storyText{
    width: 100%;
    height: 50%;
    padding: 10px;
    font-size: 14px;
}