/* body {
  background-color: #6b22ff;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* جعبه مرکزی */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todo-box {
  background-color: #111;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  width: 90%;
  max-width: 400px;
}

/* عنوان */
.title {
  text-align: center;
  color: white;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

/* فرم */
.todo-form {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.todo-input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #444;
  background: transparent;
  color: white;
  font-size: 1rem;
}

.todo-input::placeholder {
  color: #aaa;
}

.add-btn {
  background-color: #8b63ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.add-btn:hover {
  background-color: #a47cff;
}

/* آیتم‌های لیست */
.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  background-color: #6b22ff;
  color: white;
  padding: 10px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.completed {
  text-decoration: line-through;
  opacity: 0.6;
  background-color: #6b22ff;
  color: white;
  padding: 10px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
