* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainMenu{
  width: 100%;
  height: 50px;
  background-color: #2b2b2b;
  .menuNav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    width: fit-content;
    height: inherit;
    .menuNavTitle{
      width: fit-content;
      a{
        color: rgba(240, 248, 255, 0.493);
        text-decoration: none;
        text-transform: capitalize;
        font-size: larger;
        letter-spacing: 0.8px;
        transition: 300ms;
        transition-delay: 100ms;
        &:hover{
          color: whitesmoke;
        }
      }
    }
  }
}