* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 38%;
  height: calc(100vh - 40px);
  background-color: rgb(42, 102, 99);
  margin: 20px auto;
  border-radius: 30px;
  box-shadow: 0px 0px 20px lightseagreen;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  overflow: hidden;
  overflow-y: scroll;
}
.product {
  width: 300px;
  border: 2px dashed lightblue;
  border-radius: 16px;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  color: aliceblue;
  h2 {
    font-size: 14px;
    span {
      color: black;
      font-size: 20px;
    }
  }
  h4:nth-of-type(1) {
    font-size: 18px;
    span {
      color: black;
    }
  }
  details {
    font-size: 20px;
    margin: 0 auto;
    color: black;
    p{
      font-size: 14px;
      color: black;
    }
  }
  h4:nth-of-type(2) {
    font-size: 14px;
    color: aliceblue;
    margin: 0 auto;
    span{
      color: black;
    }
  }
  div {
    display: flex;
    justify-content: space-between;
    h5 {
      font-size: 14px;
      letter-spacing: 0.4px;
        span{
            color: black;
            font-size: 14px;
        }
    }
  }
  img{
    width: 100%;
    height: 300px;
  }
}
/* sdsaaaaaaaaaaaaaaa */
