* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider {
  width: 100%;
  padding: 40px;
  .center-slider {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 30px;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    overflow-x: scroll;
    &::-webkit-scrollbar{
      width: 10px;
    }
    &::-webkit-scrollbar-thumb{
      width: 10px;
      background-color: #2b2b2b;
      border-radius: 30px;
    }
    .product {
      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: top;
        border-radius: 13px;
      }
      &:nth-of-type(4n){
        margin-top: 250px;
      }
      &:nth-of-type(4n+1){
        align-self: center;
      }
      &:nth-of-type(4n+2){
        height: 100%;
        img:first-of-type{
          margin-bottom: 30px;
        }
      }
      &:nth-of-type(4n+3){
        margin-top: 30px;
      }
    }
  }
}
