.even{
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    margin: 2px;
    display: inline-block;
}
.odd{
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    margin: 2px;
    display: inline-block;
}
.text{
    display: inline-block;
    color: lightcoral;

    margin: 20px;
}
.bold{
    display: inline-block;
    color: lightgreen;
    margin: 20px;
}
.b{
    display: inline-block;
    margin: 20px;
}
.lama{
    color: blue;
    display: inline-block;
    margin: 20px;
}